/public/data
/node_modules
*.json
*.csv
*.ml
*.model
*.range
*.out
*.predict
*.scale
*.png

!/data/dataWithMatrix_keep/*
!/data/new_force_study/*
!/data/new_force_study/1zone/*
!/data/new_force_study/3zone/*