extends layout

block content
	.jumbotron
		button#predictBtn.btn.btn-primary(type='button', onclick="predictNow()") Predict
		h2 Detect gesture
			h3#value
			h3#state
		//- <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
		script(src='https://cdn.socket.io/socket.io-1.3.7.js')
		script(src='./javascripts/detectgesture.js')