extends layout

block content
	.jumbotron
		h1 Nail+
		p(align='justify')我們是Nail+ - 游刃指尖，來自台大資工所與網媒所，行動裝置與人機介面實驗室 (Mobile HCI Lab)。HCI = Human- Computer Interaction(人機互動)所關注的是人類如何和科技進行互動，用以人為本的思維出發，設計出簡單、易用、能替使用者完成任務的系統與界面。我們希望藉由使用者導向設計，結合我們的創新技術，解決人們日常生 活中遇到的問題。

		p(align='justify')為了同時解決使用者輸入不便與穿戴舒適的問題，以及探索更具劃時代性的產品。我們提出了SNail。該裝置為一個感測手指上物理變化的智慧型指甲，我們利用指甲上微小的形變，可以偵測出手指的運動，進而知道使用者的手寫輸入。

		.embed-responsive.embed-responsive-16by9(align='center')
			video.embed-responsive-item(muted='', autoplay='', loop='', controls='')
				source(src='./video/sNailV2_video.mp4', type='video/mp4')

		p(align='justify')因為SNail是穿戴在不容易察覺的指甲上，所以使用者不會有不舒適感的問題，這是一個很大的優勢。偵測手指手寫的目的，是我們可以在任意的平面上，畫出不同的圖案或符號，當作智慧型裝置的輸入替代方案，也可以偵測手指筆跡，用來解鎖其他裝置、簽名或是不需要筆的寫字等。有了SNail，我們可以不用擔心沒有筆，也可以更輕易且舒適地與機器互通有無。