extends layout

block content
	link(rel='stylesheet', href='/stylesheets/c3.min.css')
	script(src='./javascripts/c3.min.js')
	.jumbotron
		h2 Learning
		br
		button#recordBtn.btn.btn-primary(type='button', onclick="recordBtnClick()") Start Record
		button#clearBtn.btn.btn-danger(type='button', onclick="cleanBtnClick()") Clean All Data
		button#clearBtn.btn.btn-success(type='button', onclick="trainByTheData()") Train Data
		br
		h4 Select Type Of Input
		br
		input(type='radio', name='type', value='left')
		|	Left  
		input(type='radio', name='type', value='right')
		|	Right  
		input(type='radio', name='type', value='up')
		|	Up  
		input(type='radio', name='type', value='down')
		|	Down  
		input(type='radio', name='type', value='check')
		|	Check
		br
		br
		h2 SG Values
			h3#value
		h4 Status
			#chart
		script(src='./javascripts/learning_client.js')