extends layout

block content
	link(rel='stylesheet', href='/stylesheets/c3.min.css')
	script(src='./javascripts/c3.min.js')
	
	
	.jumbotron
		
		h2 Record + Showlive

		button.btn.btn-success(type='button', onclick='reopenPort()') Reopen Port
		
		.input-group
			span.input-group-btn
				button#recordBtn.btn.btn-default(type='button', onclick="recordBtnClick()") Start Record
			input#filename.form-control(type='text', placeholder='filename')

		br
		br
		#chart
		br
		.row
			.col-xs-6.col-sm-4
				#sg1
			.col-xs-6.col-sm-4
				#sg2
			.col-xs-6.col-sm-4
				#sg3
		.row
			.col-xs-6.col-sm-4
				#sg4
			.col-xs-6.col-sm-4
				#sg5
			.col-xs-6.col-sm-4
				#sg6
		.row
			.col-xs-6.col-sm-4
				#sg7		
			.col-xs-6.col-sm-4
				#sg8		
			.col-xs-6.col-sm-4
				#sg9

	script(src='./javascripts/plotCharts.js')
	script(src='./javascripts/record_client.js')
	