extends layout

block content
	link(rel='stylesheet', href='/stylesheets/c3.min.css')
	script(src='./javascripts/c3.min.js')
	
	
	.jumbotron
		h2 Show Data

		select#datalist

		#chart

	script(src='./javascripts/showdata_client.js')