extends layout

block content
	link(rel='stylesheet', href='/stylesheets/c3.min.css')
	script(src='./javascripts/c3.min.js')
	.jumbotron
		h2 Learning
		br
		button#recordBtn.btn.btn-primary(type='button', onclick="recordBtnClick()") Start Record
		button#clearBtn.btn.btn-warning(type='button', onclick="deleteLastOne()") Delete Last One
		button#clearBtn.btn.btn-danger(type='button', onclick="cleanBtnClick()") Clean All Data
		button#clearBtn.btn.btn-success(type='button', onclick="trainByTheData()") Train Data
		br
		br
		div#doneNotification
			.alert.alert-success(role='alert')
				p Training Done
		
		h1(id="nameOfGesture")
		h4 Type And Count
			#Type
			#Round
		h4 Status
			#chart
		script(src='./javascripts/learning_client.js')